:root {
    /* Colours */
    --white         : hsl(0, 0%, 100%);
    --light-pink    : hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple   : hsl(292, 42%, 14%);

    /* Base Font Size */
    font-size: 16px;
}

/* Initialization */
*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    align-items     : center;
    background-color: var(--light-pink);
    display         : flex;
    flex-direction  : column;
    font-family     : "Work Sans", sans-serif;
    justify-content : center;
    min-height      : 100vh;
    min-width       : 100vw;
    position        : relative;
}

.bg {
    height  : 22em;
    left    : 0;
    position: absolute;
    top     : 0;
    width   : 100%;
    z-index : -1;
}

.bg img {
    height    : 100%;
    object-fit: cover;
    width     : 100%;
}

.bg #mobile-background {
    display: none;
}

main {
    background-color: var(--white);
    border-radius   : 1em;
    box-shadow      : 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    height          : auto;
    padding         : 2em 2.5em;
    width           : 37.5em;
}

main h1 {
    align-items: center;
    color      : var(--dark-purple);
    display    : flex;
    font-size  : 3.45em;
    margin-top : .25em;
}

main h1 img {
    margin-right: .45em;
}

.accordion:not(:last-child) {
    border-bottom : 3px solid rgb(241, 241, 241);
    padding-bottom: 1.5em;
}

.accordion#item-1 {
    margin-top: 2em;
}

.accordion-title {
    align-items    : center;
    color          : var(--dark-purple);
    display        : flex;
    font-weight    : 700;
    justify-content: space-between;
    letter-spacing : .06em;
    margin-top     : 1.5em;
}

.accordion-title:hover {
    color     : #AB2BE9;
    cursor    : pointer;
    transition: all ease-in-out .3s;
}

.accordion-content {
    color      : var(--grayish-purple);
    line-height: 1.5em;
    margin-top : 1.5em;
}

.accordion-content {
    display: none;
}

.accordion:nth-child(2) .accordion-content {
    display: block;
}

.attribution {
    font-size : .9em;
    margin-top: 2em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .bg {
        height: 13.3em;
    }

    .bg #mobile-background {
        display: block;
    }

    .bg #desktop-background {
        display: none;
    }

    main {
        border-radius: .55em;
        padding      : 1em 1.5em;
        width        : 87%;
    }

    main h1 {
        font-size: 2em;
    }

    main h1 img {
        margin-right: .8em;
        width       : .7em;
    }

    .accordion#item-1 {
        margin-top: 1.5em;
    }

    .accordion-title {
        letter-spacing: initial;
        margin-top    : 1em;
    }

    .accordion-title img {
        padding-left: 2em;
    }

    .accordion-content {
        font-size  : .9em;
        line-height: 1.46em;
        margin-top : 1.5em;
    }

}